graphics.c
pokefirered.gba
pokemon_icon.c
pokemon.h
gbagfx
pokemon_graphics
silphscope-1.0.0.tgz
item_graphics/
trainer_graphics/
move_graphics/
src/icon-data-parser.js
src/mon-data-parser.js
src/trainer-data-parser.js
src/move-data-parser.js
src/rom-map-parser.js
rom-maps/
graphics-maps/
src/object-event-data-parser.js
object_graphics/
README-old.md